*{
	margin: 0;
	padding:0;
	border: 0;
  box-sizing: border-box;
  
}
/* fonts */
@font-face {
  font-family: 'Manrope';
  src: url("./fonts/manrope-bold.woff2") format("woff2"),
  url("./fonts/manrope-bold.woff") format("woff"),
  url("./fonts/manrope-bold.otf") format("truetype");
  font-style: normal;
  font-weight: 700; }


@font-face {
  font-family: 'Manrope';
  src: url("./fonts/manrope-regular.woff2") format("woff2"),
  url("./fonts/manrope-regular.woff") format("woff"),
  url("./fonts/manrope-regular.otf") format("truetype");
  font-style: normal;
  font-weight: 400; }

html,
body {
	margin: 0;
	height: 100vh;
	width: 100vw;
  overflow: auto;
  font-family: "Manrope", Arial, sans-serif;
  font-size: 16px;
}


  .nav-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    height: 80px;
    /* padding: 0 30px; */
    background: #fff;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navigation {
		display: flex;
		/* align-items: flex-end;  */
    font-family: "Manrope", sans-serif;
    font-weight: normal;
    font-size: 14pt;
    list-style: none;
    
  }
  
  .nav-tab:not(:last-child) {
    padding: 10px 58px;
    margin: 0;
  }
  
  .nav-tab:last-child {
    padding: 10px 0 0 25px;
  }
  
  .nav-tab,
  .menu-btn {
    cursor: pointer;
  }
  
  .navigation > li:hover {
    text-shadow: 2px 3px 10px #5b71ec;
    transition: all 0.3s ease;
    border-radius: 7px;
    text-decoration: underline;
    
  } 

  .hidden {
    display: none;
  }

  #check01 {
    vertical-align: middle;
    background: #e5e5e5;
    
  }

/* dropdown_menu */

/* .check01 {
  border: 3px solid black;
  background: #e5e5e5;
}  */

label{
  position: relative;
  display: block;
  padding: 0 18px 0 20px;
  line-height: 3em;
  transition: background 0.3s;
  cursor: pointer;
 
}

label:after{
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: 5px;
  width: 0;
  height: 0;
  border-top: 4px solid rgba(255,255,255,.5);
  border-bottom: 0 solid rgba(255,255,255,.5);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: border-bottom .1s, border-top .1s .1s;
  }

label:hover,
input:checked ~ label{background:rgba(0,0,0,.3);}

input:checked ~ label:after{
  border-top: 0 solid rgba(255,255,255,.5);
  border-bottom: 4px solid rgba(255,255,255,.5);
  transition: border-top .1s, border-bottom .1s .1s;
}

/*hide the inputs*/
input{display: none}

/*show the second level menu of the selected voice*/
input:checked ~ ul.submenu{
  max-height:300px;
  transition:max-height 0.3s ease-in;
}

/*style for the second level menu*/
ul.submenu{
  border-radius: 10px;
  max-height: 0;
  width: 80px; 
  padding: 0px;
  overflow: hidden;
  list-style-type: none;
  background :#7e7d7d;
  box-shadow: 0 0 1px rgba(0,0,0,.3);
  transition: max-height 0.3s ease-out;
  position: absolute;
  z-index: 20;
  /* min-width: 50%; */
}

ul.submenu li a{
  display: block;
  padding: 10px;
  color: #ddd;
  text-decoration: none;
  box-shadow: 0 -1px rgba(0,0,0,.3) inset;
  transition: background .3s;
  white-space: nowrap;
  font-family: "Manrope", sans-serif;
  font-weight: normal;
}

ul.submenu li a:hover{
  background: rgba(0,0,0,.5);
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
}

main {
  display: block;
}

/* sections blocks */
.section {
  padding: 50px 0;
  position: relative;
}

.sec-1 {
  padding-top: 135px;
}

.content-studying {
  display: flex;
  padding: 0 80px;
}

.content-1 {
  display: block;
  width: 50%;
  padding-right: 20px;
  flex-wrap: wrap;
}
h1 {
  display: block;
  text-align: left;
  font-size: 60px;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  line-height: 1.15;
}

h3 {
  padding-top: 90px;
  text-align: left;
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  font-size: 18pt;
}
.content-2 {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.responsive_img {
 
  width: auto;
  height: auto;
}



.consult {
  display: flex;
  padding-top: 80px;
}

/* form & btn */

.form {
  display: flex;
}

.form__group1 {
  width: 370px;
  height: 60px;
  /* padding: 6rem; */
}
.form__group2 {
  padding-left: 20px;
}

.form__input {
  font-size: 16pt;
  font-family: 'Manrope';
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 250, 0.5);
  border: 1.5px solid #b2b2b2;
  width: 370px;
  height: 60px;
  display: block;
  transition: to all .3s; 
}
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
     }

  .form__input:focus:invalid {
    border-bottom: 3px solid #fc580c; 
  }
    
  .blue__button {
    display: inline-block;
    font-family: 'Manrope';
    font-weight: bold;
    font-size: 14px;
    background-color: #462be2;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
            
    width: 280px;
    height: 60px;
    border-radius: 10px;
    transition: all .2s;
    position: relative;
    border: 1.5px solid grey;
    cursor: pointer; 
  }

  .blue__button:hover {
    /* border-radius: 10rem; */
    background-color: #40fba1;
    transition: all .5;
    position: relative;
    cursor: pointer;
    border: none;
    color:#462be2;
    border: 1.5px solid #462be2;

  }

  /* section #2 */
  .sec-2 {
    background-color: #23d87d;
    max-width: 1920px;
    height: 660px;
  }
  /* .platform-info {
    height: 660px;
  } */
  .platform-info > h3 {
    align-items: stretch;
    align-content: center;
    justify-content: center;
    line-height: 1.7
    color: #fff;
    font-size: 24px;
    font-weight: bold;

  }
  
  .paragraph {
    padding: 220px 375px;
    text-align: center;
    color: #fff;
  }

  /* section #3 */

  .sec-3-container {
    max-width: 1920px;
    padding-left: 80px;
    display: block;
  }

  .sec-3-head {
    padding-top: 140px;
    padding-bottom: 140px;
    display: block;
  }
  .forwhom {
    text-align: center;
    font-size: 48pt;
    display: block;
    /* padding-top: 140px; */
  }

  .flex-container {
    padding: 0;
    margin: 0;
    
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    /* -webkit-flex-flow: row wrap; */
    justify-content: space-between;
  }
  
  .flex-item {
    /* display: flex; */
    padding: 0 90px;
    width: 33.33%;
    height: auto;
    /* margin-top: 10px; */
    text-align: left;
  }
  .flex-item > h3 {
    font-family: "Manrope";
    font-size: 24pt;
    font-weight: bold;
    padding-top: 50px;
  }

  .flex-item > p {
    font-family: "Manrope";
    font-size: 16pt;
    padding-top: 45px;
    
  }

  /* section #4 */
  .sec-4 {
    background-color: #252f59;
    max-width: 1920px;
    height: auto;
    color: #fff;
    padding-left: 295px;
    padding-right:295px;
  }

  .features-sec-4 {
    text-align: center;
    font-size: 48pt;
    font-weight: bold;
    padding-top: 75px;
    
  }
  .subfeatures {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    justify-content: center;
    line-height: 1.8;
    padding-top: 50px;
  }

  .platform_info {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    justify-content: space-between;
    /* padding-top: 75px */
  }

  /* yellow horizontal lines  */
  .sec-4-head > h3::before, .sec-4-head > h3::after {
    content: "";
    width: auto;
    border: 1px solid #ff8a33;
    display: block;
    margin: 120px auto;
  }


  .left-sec-4  h3 {
    font-family: "Manrope";
    font-size: 24pt;
    font-weight: bold;
    padding-bottom: 20px;
  }
  
  .list-menu {
    font-family: "Manrope";
    font-size: 18pt;
    font-weight: normal;
    list-style-type: none;
    margin: 30px 0;
  }

  .list-sec-4 li::before {
    content: "-";
    display: inline;
    position: relative;
    left: -27px;
  }

  /* blocks position 1-2 ; 2-1*/

    .child_features_1 > .left-sec-4 {
      order: 1;
    }
    .child_features_1 > .right-sec-4 {
      order: 2;
    }

    .child_features_2 > .left-sec-4 {
      order: 2;
    }
    .child_features_2 > .right-sec-4 {
      order:1

    }

    .child_features_1, .child_features_2 {
      display: block;
    }






  /* section #5 */
  .sec-5 {
    background-color: #23d87d;
    max-width: 1920px;
    height: auto;
    color: #fff;
    padding-left: 295px;
    /* padding-right: 375px; */
}
  .sec-5 > h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
  }
  .advantages {
    display: block;
    max-width: 1920px;
  }
  .childbox_advantages {
    display: inline-block;
    position: relative;
    /* justify-content: space-around; */
    width: 14.28%;
    margin: 40px 40px;
  }
  .childbox_advantages > h4 {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    /* text-align: center; */
    
  }

 

  /* section #6 */
  .sec-6 {
    background-color: #ffe07d;
    max-width: 1920px;
    height: auto;
    padding-left: 295px;
    }
    .sec-6-container {
      display: flex;
    }

    .childbox1_sec-6 h2 {
      font-size: 48px;
      font-weight: bold;
    }

    .childbox1_sec-6 {
      display: block;
      width: 50%;
    }
    .childbox2_sec-6 {
      display: block;
    }

    .childbox1_sec-6 > p {
      text-align: left;
      font-size: 16px;
      line-height: 2;
    }


  
  /* section #7 */
  .sec-7 {
    background-color: #fff;
    max-width: 1920px;
    height: auto;
    padding-right: 245px;
    padding-left: 295px;
}

  .sec-7-container {
    flex-basis: 1170px;
  }
  .sec-7-container > h2 {
    text-align: center;
    font-size: 48pt;
    font-weight: bold;
    color: black;
    padding-top: 135px;
  }

 .childbox_sec-7 {
   padding-top: 95px;
  flex-basis: 1170px;
   display: flex;
   /* align-items: stretch; */
   justify-content: center;
 }
 .sec-7-logo {
   padding: 0 45px;
   display: flex;
   align-items: center;
   justify-content: center;
 }

/* section #8 */
.sec-8 {
  display: flex;
  justify-content: center;
  background-color: #fff;
  max-width: 1920px;
  height: auto;
  padding-right: 245px;
  padding-left: 295px;
  

}

.consult_sec-8 {
  display: flex;
  justify-content: center;
  width: 560px;
  height: 590px;
  border-radius: 12px;
  background-color: #23d87d;
  color: #fff;
  
}

.sec-8-container {
  flex-basis: 1170px;
  

}
.sec-8-container > h2 {
  text-align: center;
  font-size: 48pt;
  font-weight: bold;
  color: black;
  padding-top: 135px;
}

.form__in {
  font-size: 18pt;
  font-weight: bold;
  font-family: 'Manrope';
  /* color: #fff; */
  padding: 1.5rem 2rem;
  border-radius: 10px;
  background-color: #23d87d;
  border: 1.5px solid #fff;
  width: 480px;
  height: 60px;
  display: block;
  transition: to all .3s; 
}
  .form__in:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
     }

  .form__in:focus:invalid {
    border-bottom: 3px solid #fc580c; 
  }

.form__group3 {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Manrope';
  /* color: inherit; */
  padding: 1.5rem 2rem;
  border-radius: 10px;
  background-color: #23d87d;
  width: 480px;
  height: 240px;
  border: 1.5px solid #fff;
  
}

.form__group3::placeholder {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Manrope';
  background-color: transparent;
}
.sec8-placeholder {
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Manrope';
}

.blue__btn {
  display: inline-block;
  font-family: 'Manrope';
  font-weight: bold;
  font-size: 14px;
  background-color: #462be2;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
          
  width: 480px;
  height: 60px;
  border-radius: 10px;
  transition: all .2s;
  position: relative;
  /* border: 1.5px solid grey; */
  cursor: pointer; 
}

.blue__btn:hover {
  /* border-radius: 10rem; */
  background-color: #0986da;
  transition: all .5;
  position: relative;
  cursor: pointer;
  border: none;
  color:#fff;
  border: 1.5px solid #462be2;

}

.form_sec-8 {
  padding: 15px 0;
  display: block;
}

.form__group1, .form__group2, .form__group3, .form__group4 {
 margin-top: 25px;
}
  

  

   
 